body {
  background-color: #F2E9E4;
  color: #1e1e1e;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: #C9ADA7 !important;
}

footer {
  background-color: #22223B;
}

footer a {
  color: #f2f2f2;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

h2 {
  color: #2b2b2b;
}

.navbar {
  position: relative !important;
  z-index: 1000 !important;
}

.navbar a {
  pointer-events: auto !important;
  cursor: pointer;
}


