/* Fondo general de toda la aplicación */
body {
  background-color: #F2E9E4 !important;
}

/* Footer oscuro */
footer {
  background-color: #22223B !important;
  color: #f2f2f2;
}

footer a {
  color: #f2f2f2;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.btnbrown{
    background-color: #917b77 !important;
    color: #ffffff !important;
}
.btnbrown:hover {
  background-color: #5f504e !important;
}

.text-brown {
  color: #8d7469 !important;
}

